*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
}
.header{
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(198, 196, 196);
    height: 100px;
}
.banner{
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 250, 167);
    height: 500px;
}
.title2{
    margin: 20px;
}
.basePart{
    display: flex;
    flex-direction: column;
    align-content:space-between;
    align-items: center;
    padding: 20px;
    gap: 300px;
}
.PartPart{
    display: flex;
    gap: 50px;
}
.PartPart2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sidePart{
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: rgb(156, 249, 155);
    height: 500px;
    width: 600px;
    gap: 100px;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 150, 222);
    height: 60px;
    width: 300px;
}
.section3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 150, 222);
    height: 60px;
    width: 100%;
}
.footer{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(182, 183, 182);
    height: 100px;
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    height: 60px;
    width: 300px;
}